langchain==0.2.17
langchain-community==0.2.19
langchain-core==0.2.43
langchain-openai==0.1.25
langchain-text-splitters==0.2.4
langfuse==2.60.10
openai==1.109.1
faiss-cpu==1.15.0
tiktoken==0.14.0
python-dotenv==1.2.3
jupyter==1.1.1
ipykernel==7.3.0
pandas==3.0.5
